/* Limitar o carrossel a 72% da largura e altura da tela */
#carouselOverview {
    max-width: 64vw;
    max-height: 64vh;
    margin: auto;
}

/* Estilos para imagens do carrossel */
.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Mantém a proporção das imagens sem distorção */
}

/* Ajustes para legendas (captions) do carrossel */
.carousel-caption {
    position: absolute;
    bottom: 0; /* Posicionar no rodapé da imagem */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente para melhorar a visibilidade */
    color: #fff;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    display: block;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo dentro do container */
    width: 100%;
    height: 150px; /* Altura fixa para todos os captions */
}

/* Ajustes para o texto das legendas */
.carousel-caption h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 1rem;
    margin: 0;
}

/* Ajustes para dispositivos médios */
@media (max-width: 768px) {
    .carousel-caption {
        font-size: 0.9rem;
        padding: 8px;
        height: 130px; /* Altura ajustada para dispositivos médios */
    }

    .carousel-caption h5 {
        font-size: 1.2rem;
    }

    .carousel-caption p {
        font-size: 0.9rem;
    }
}

/* Ajustes para dispositivos pequenos */
@media (max-width: 576px) {
    .carousel-caption {
        font-size: 0.8rem;
        padding: 5px;
        height: 100px; /* Altura ajustada para dispositivos pequenos */
    }

    .carousel-caption h5 {
        font-size: 1rem;
    }

    .carousel-caption p {
        font-size: 0.75rem;
    }

    /* Ajuste no tamanho da logo */
    .navbar-brand img {
        width: 20px;
    }

    /* Ajuste no tamanho do menu */
    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }

    /* Ajuste no tamanho dos controles de navegação do carrossel */
    .carousel-control-prev, .carousel-control-next {
        width: 10%;
    }
}