#carouselOverview {
    width: 80vw;  /* 80% da largura da janela do navegador */
    height: 64vh; /* 64% da altura da janela do navegador */
    margin: auto; /* Centraliza horizontalmente */
}

.carousel-inner img {
    width: 100%;  /* Garante que as imagens ocupem toda a largura do carousel */
    height: 100%; /* Garante que as imagens ocupem toda a altura do carousel */
    object-fit: cover; /* Ajusta as imagens para preencher o container sem distorção */
}

.carousel-inner h5 p {
    color: black;
}

.carousel-control-prev-icon {
    background-color: blueviolet;
}

.carousel-control-next-icon {
    background-color: blueviolet;
}